.pro-algin{
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-color: #222;
    border-radius: 4px;
    font-weight: 300;
    float:right;
}
.mydivider{
    height: 0.5px;
    width: 100%;
    border: 1px solid #222;
    border-radius: 12px;

}
.qna-free{
    color: #fff;
    background-color: #393939;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    padding: 6px 16px;
    font-weight: 400;
}
.qna-pro{
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    color: #ccc;
    border-radius: 4px;
    padding: 6px 16px;
    font-weight: 400;
}
.qna-header{
    top: 0;
    height: 100vh;
    width: 250px;
    display: flex;
    position:fixed ;
    /* align-items: center; */
    flex-direction: column;
    background: #121212;
 
    color:white;
    /* z-index: 1; */
    right: 0;
    overflow-x: hidden; 
    padding: 15px; 
}
.logo img{
    width: 100%;
    height: 100%;
    display: block;
}
.logo{
    width:26px;
    height: 26px;
    min-width: 26px;
    overflow: hidden;
    border-radius: 4px;
}
.bussiness{
    width: 98%;
    display: flex;
    position: relative;
    gap: 24px;
    color: #ddd;
    padding: 32px 128px;
    
    white-space: pre-line;
}
.qna-box{
    background-color: #121212;
    width: 85%;
    /* display: flex; */
    position: relative; 
    /* gap: 10px; */
    color: #ddd;
    padding: 32px 128px;
    /* white-space: pre-line; */
    /* margin-right: 20px; */
    text-align: center;
}
.qna-border{
    cursor: pointer;
    overflow: hidden; 
   
    background: #121212;
    border-radius: 6px;
    border: 1px solid #393939;
   
    padding: 12px;
    text-align: center;
}
.qna-text{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #ccc;
    padding: 16px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards-group{
    flex: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 24px;
}
.stp-title{
    overflow: hidden;
    font-weight: 600;
    font-size: .9rem;
    white-space: nowrap;
    color: #999;
    text-overflow: ellipsis;
}
.step-group{
    display: flex;
    position: relative;
    gap: 5px; 
    flex-direction: column;
}
.line{
    z-index: 0;
    top: 14px;
    width: 2px;
    left: 5.5px;
    bottom: 14px;
    display: block;
    position: absolute;
    border-right: 2px dotted #999;
}
.step{
    z-index: 1;
    display: flex;
    align-items:baseline; 
    gap: 12px;
}
.circle{
    display: block;
    min-width: 14px;
    min-height: 14px;
    max-width: 14px;
    max-height: 14px;
    background: #999;
    border-radius: 50%;
}
.text{
    color:#999;
    
    overflow: hidden;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.company-group{
    display: flex;
    flex-wrap: wrap;
    font-size: small;
    margin-top: auto;
    gap:-2px;
    color: #999;
}
.digital-text{
    cursor: pointer;
    font-size: 1rem;
    color: #f6f6f6;
    border-radius: 6px;
    border: 1px solid #666;
    padding: 12px 16px;
    position: relative;
}